body {
    text-align: center;
    margin: 0;
}

/* Навигационное меню */
#navigation {
    border-bottom: 2px solid #000000;
    /*background: #FFFBB9;*/
    padding: 5px 15px;
}

li {
    font: 14px verdana, sans-serif;
    display: inline-block;
    padding: 5px 30px;
    list-style: none;
}
/* ------------------------------------------------------------ */

/*Стили навигационных ссылок*/
A {
    text-decoration: none; /* Убирает подчеркивание для ссылок */
    color: black;
}

A:hover {
    text-decoration: underline; /* Добавляем подчеркивание при наведении курсора на ссылку */
    color: black; /* Ссылка черного цвета */
}

A:visited { color: black; /* Цвет посещенных ссылок */ }
A:active { color: black; /* Цвет активных ссылок */ }
/*-----------------------------------------------------------------*/

#catalog {
    font: 14px verdana, sans-serif;
    box-sizing: border-box;
    /*background: #CCCCCC;*/
    text-align: left;
    display: block;
    height: 800px;
    padding: 2%;
    float: left;
    width: 25%;
}

#categories {
    box-sizing: border-box;
    /*background: #e5cfcf;*/
    text-align: left;
    display: block;
    padding: 30px;
    float: left;
    width: 75%;
}

header { text-align: center; }

h2 { font: 22px verdana, sans-serif; }

h3 { font: 16px verdana, sans-serif; }

input { margin: 10px; }

#text_sort {
    /*background: #e5e26c;*/
    display: block;
    padding: 3px;
    width: 120px;
    margin: 0;
    float: left;
}

select {
    display: block;
    padding: 3px;
    float: left;
    margin: 0;
}

#products img { width: 40%; }

/*Скрывает кнопку фильтр и модальное окно*/
#filter { display: none; }
#modal-container { display: none; }

#main_footer {
    border-top: 2px solid #999999;
    text-align: center;
    padding: 20px;
    clear: both;
}
